.con table {
	font-size: 12px;
	border-color: #efeae5;
	border-style: solid;
	border-width: 5px;
	color: #404040;
}

.con td {
	border-color: #efeae5;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1px;
	padding: 10px;
}

.con .jian:HOVER {
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -166px -125px;
	height: 11px;
	width: 11px;
	margin: 0;
}

.con .jian {
	cursor: pointer;
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -166px -145px;
	height: 11px;
	width: 11px;
	margin: 0;
}

.con .jia:HOVER {
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -178px -125px;
	height: 11px;
	width: 11px;
	margin: 0;
}

.con .jia {
	cursor: pointer;
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: -178px -145px;
	height: 11px;
	width: 11px;
	margin: 0;
}

.con .jiesuan {
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: 0 -35px;
	height: 40px;
	width: 190px;
	margin: 0;
}

.con .kill {
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: 0 -480px;
	height: 40px;
	width: 190px;
}

.con .jiesuan:HOVER {
	background: url(../img/icon.png) no-repeat;
	display: inline-block;
	background-position: 0 -75px;
	height: 40px;
	width: 190px;
	poorfish: expression(this.onclick=function jiesuan() {
		return true;
	}
	);
}

.con .quantity {
	width: 25px;
	text-align: center;
	margin: 0;
	border: 1px solid #ccc;
}

.con a {
	text-decoration: none;
	color: #018BD3;
}

.con a:visited {
	color: #018BD3;
}

.con a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.con a.linkImage {
	border: 1px solid #ffffff;
	display: inline-block;
}

.con a.linkImage:HOVER {
	border: 1px solid #d0d0d0;
	display: inline-block;
}

.con a.linkImage:active {
	border: 1px dotted #404040;
	display: inline-block;
}

.con .price_n {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
}

.con .price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
	font-size: 16px;
}

.con .price_t span {
	font-size: 16px;
}

.con .spanEmpty {
	margin-top: 50px;
	font-size: 24px;
	font-weight: 900;
}

.con .tdBatchDelete {
	border-top-width: 5px;
	border-bottom-width: 0px;
}

.con .tdTotal {
	border-top-width: 5px;
}