#con-wrap .con .bold {font-weight: 900;}
#con-wrap .con .divBody {
	background: url(../img/paginating_bg.png) repeat-x;
	border-top: 2px solid #018BD3;
	height: 35px;
	width: 100%;
	text-align: right;
	margin-top: 20px;
}
#con-wrap .con .divContent {
	line-height: 35px;
	margin-right: 15px;
}
#con-wrap .con .spanBtnSelect {
	border: 1px solid #0079B3; 
	color: #FFFFFF;
	background-color: #018BD3; 
	text-align:center; 
	padding: 4px 8px 3px 8px;
	text-decoration: none;
}
#con-wrap .con .aBtn {
	border: 1px solid #c1c1c1; 
	text-align:center; 
	background-color: #FFFFFF; 
	color: #555555;
	padding: 4px 8px 3px 8px;
	text-decoration: none;
}
#con-wrap .con .spanBtnDisabled {
	border: 1px solid #c1c1c1;
	text-align:center; 
	background-color: #FFFFFF; 
	color: #c1c1c1;
	padding: 4px 8px 3px 8px;
	font-weight: 900;
}
#con-wrap .con .spanApostrophe {
	font-family: Arial;
}
#con-wrap .con .aBtn:hover {
	border: 1px solid #0079B3;
	background-color: #018BD3; 
	color: #FFF;
}
#con-wrap .con #pageCode {
	border: 1px solid #c1c1c1;
	width: 25px;
	padding: 0;
	text-align: center;
}
#con-wrap .con .aSubmit {
	border: 1px solid #c1c1c1;
	padding:4px;
	color: #555555;
	text-decoration: none;
}
#con-wrap .con .aSubmit:hover {
	border: 1px solid #0079B3;
	padding:4px;
	color: #fff;
	background-color: #018BD3;
}
